html,
body,
canvas {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
  display: block;
}

/* score */
.score {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-weight: 900;
  font-style: oblique;
  font-size: min(4vw, 4vh);
}

/* theme dropdown */
.theme-dropdown {
  font-size: min(2vw, 2vh);
  position: fixed;
  top: 1rem;
  left: 1rem;
  min-width: 10rem;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;

  padding: 0.7em;
  border-radius: 0.5em;
}

.theme-dropdown-toggle {
  display: block;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: min(2vw, 2vh);
}

.theme-dropdown-menu {
  display: none;
  list-style: none;
  border-radius: 0.25em;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.theme-dropdown-menu li {
  padding: 0.7em 1.2em;
  text-align: center;
  min-width: 7em;
  cursor: pointer;
}

.theme-dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.theme-dropdown-menu li > a {
  text-decoration: none;
}

/* fps */
.fps-counter {
  position: fixed;
  top: 4vh;
  right: 4vw;

  font-size: min(2vw, 2vh);
  color: yellow;
  font-style: oblique;
}
